{% extends 'base.html' %}
{% load static %}
{% block title %} Fatti disfatti - Login {% endblock %}
{% block page_title %}Login {% endblock %}
{% block intro %}
    Non ti sei ancora registrato ? Puoi farlo <a href="{% url 'user-create' %}"> cliccando qui</a>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>
        {{ form.as_p }}</p>
        <input class="btn btn-outline-light" type="submit" value="Accedi alla dashboard">
    </form>

{% endblock %}