{% extends 'base.html' %}
{% load static %}

{% block title %} Fatti disfatti - Registrati {% endblock %}
{% block page_title %}Diventa un verificatore {% endblock %}
{% block intro %}
    Avrai la possibilità di verificare le le notizie segnalate dai nostri lettori,basta compilare il form
{% endblock %}

{% block content %}
    <br>
    <form method="post">{% csrf_token %}
        <p>
            {{ form.as_p }}
        </p>
        <input class="btn btn-outline-light" type="submit" value="Diventa un verificatore">
    </form>

{% endblock %}