{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Donazioni {% endblock%}

{% block page_title %}Donazioni{% endblock %}
{% block intro %}Siamo un'associazione senza scopo di lucro. Per poter sostenere quest'attività il vostro aiuto è
fondamentale. Dona anche tu compilando il form qui sotto !{% endblock %}

{% block content %}
<br>
{% crispy form %}
<table class="table table-striped table-bordered table-danger" >
    <thead>
        <tr>
            <th>Persone che hanno donato </th>
            <th>Importo</th>
        </tr>
    </thead>
    <tbody>
        {% for donation in object_list %}
            <tr>
                <td> {{ donation.name }} {{ donation.surname }}</td>
                <td> {{ donation.amount }} €</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}