{% extends 'base.html' %}

{% block title %} {{ object.title }} {% endblock %}
{% block page_title %} {{ object.title }} {% endblock %}


{% block content %}
    <img src="../../{{ object.image }}" alt="{{ object.title }}">
    {% if object.status  %}
        <p class="newstrue"> Notizia vera </p>
    {% else %}
        <p class="newsfalse"> Notizia falsa </p>
    {% endif %}

    <p class="category"> Categoria: {{ object.category }} </p>
    <p class="newstext"> {{ object.final_text }} </p>
    <br>
    <button  class="btn btn-outline-light" type="button">
        <a href="{{request.META.HTTP_REFERER}}" class="backbutton">Torna alla lista delle notizie</a></button>

{% endblock %}