{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Segnala notizia {% endblock %}

{% block page_title %} Hai dubbi sulla veridicità di una notizia? {% endblock %}
{% block intro %} Mandaci la fonte dalla quale hai appreso la notizia, verificheremo se è vera oppure no.
Vuoi chiederci qualcosa ? Compila il form apposito ! {% endblock %}

<br>
{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Form per le segnalazioni di notizie</th>
      <th scope="col">Form richiesta info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td> {% crispy report_form %}</td>
        <td> {% crispy info_form %}</td>
    </tr>

  </tbody>
</table>

{% endblock %}
