{% extends 'base.html' %}
{% block title %} Risultati della ricerca {% endblock %}

{% block page_title %} Risultati della ricerca:
    {% if request.GET.q %}
        {{ request.GET.q }}
    {% elif request.GET.category %}
        categoria "{{ request.GET.category }}"
    {% else %}
        Non è stato inserito del testo per la ricerca. Prova a digitare qualcosa per avere dei risultati
    {% endif %}
{% endblock %}

{% block intro %}
    {% if  not object_list %}
            nessun risultato
    {% endif %}
{% endblock %}

{% block content %}
    <table class="newstable">
        <thead></thead>
        <tbody>
            {% for notizia in object_list %}
                <tr class="newstitle">
                    <td><a href="{% url 'report:read-news' notizia.pk %}">{{ notizia.title }}</a> </td>
                    {% if notizia.status %}
                        <td class="newstrue">vera
                    {% else %}
                        <td class="newsfalse">falsa
                    {% endif %}
                    </td>
                </tr>
                <tr class="imgrow">
                    <td><img src="../../{{notizia.image}}" alt="{{ notizia.image }}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}