{% extends 'base.html' %}

{% block title %} Statistiche{% endblock%}

{% block page_title %}Statistiche{% endblock %}
{% block intro %}Un po' di numeri riguardanti il nostro lavoro... {% endblock %}

{% block content %}
<br><br>
<table class="table table-striped table-bordered table-danger" id="statisticstable">
  <thead>
    <tr>
      <th scope="col" colspan="2">Totale notizie verificate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">{{ tot }}</td>
    </tr>
    <tr>
      <td>Percentuale notizie vere</td>
      <td>Percentuale notizie false</td>
    </tr>
    <tr>
      <td>{{ vere }} %</td>
      <td>{{ false }} %</td>
    </tr>
    <tr>
      <td>Notizie verificate per la categoria cronaca</td>
      <td>Notizie verificate per la categoria sport</td>
    </tr>
    <tr>
        <td>{{ cronaca }}</td>
        <td>{{ sport }}</td>
    </tr>
    <tr>
      <td>Notizie verificate per la categoria economia</td>
      <td>Notizie verificate per la categoria tecnologia</td>
    </tr>
    <tr>
        <td>{{ economia }}</td>
        <td>{{ tecnologia }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}