h1 {color: #d9534f;}

.newstable {
    margin-left:auto;
    margin-right:auto;
}

.newstitle {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-style: inset;
    border-color: #d9534f;
}

.newsfalse {
    color: darkred;
    font-weight: bold;
    font-size: 30px;
}

.newstrue {
    color: green;
    font-weight: bold;
    font-size: 30px;
}

.imgrow {
    border-style: inset;
    border-color: #d9534f;
    margin-bottom: 500px;
}

img {
    display: block;
    width: 450px;
    margin: 25px auto 5%;
}

.btn-outline-light {
    background-color: #d9534f;
    color: wheat;

}

a.backbutton:link{color: wheat;}
a.backbutton:visited{color: wheat;}
a.backbutton:hover {color: black;}

.category {
    font-weight: bold;
    font-size: 30px;
}

.newstext {
    font-size: 25px;
    font-style: oblique;
}

#statisticstable {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

a.dashboardlink:link {color: darkred;}
a.dashboardlink:visited {color: darkred;}
a.dashboardlink:hover {color: black;}

.dashboardlink {font-weight: bold;}


