{% extends 'base_dashboard.html' %}

{% block dash_title %}Lista notizie da pubblicare {% endblock %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  {% endblock %}

{% block intro %}
    Ecco la lista delle notizie verificate dai verificatori. <br>Tocca a te aggiungere gli ultimi elementi
    necessari alla pubblicazione della notizia. <br> Clicca su una delle voci per accedere al form di modifica!
{% endblock %}


    {% block th %}
        <th scope="col">CATEGORIA</th>
        <th scope="col">RIASSUNTO DEL VERIFICATORE</th>
        <th scope="col">VERA/FALSA</th>
        <th scope="col">STATUS APPROVAZIONE</th>
    {% endblock %}

    {% block body %}
        {% for notizia in object_list %}
            <tr>
                <td><a href="{% url 'verify:edit-news' notizia.pk %}" class="dashboardlink">{{ notizia.category }}</a></td>
                <td><a href="{% url 'verify:edit-news' notizia.pk %}" class="dashboardlink">{{ notizia.resume }}</a></td>
                <td><a href="{% url 'verify:edit-news' notizia.pk %}" class="dashboardlink">{{ notizia.status }}</a></td>
                <td><a href="{% url 'verify:edit-news' notizia.pk %}" class="dashboardlink">{{ notizia.approved }}</a></td>
            </tr>
        {% endfor %}
    {% endblock %}
