{% extends 'base_dashboard.html' %}

{% block dash_title %}Lista segnalazioni {% endblock %}

{% block intro %} Queste notizie aspettano soltanto di essere verificate. Dai il tuo contributo cercando
una fonte che attesti la loro veridicità. Cliccando sul link o sull'oggetto accederai alla pagina di verifica
{% endblock %}


{% block th %}
    <th scope="col">OGGETTO</th>
    <th scope="col">LINK</th>
    <th scope="col">INVIATA</th>
{% endblock %}
{% block body %}
    {% for notizia in object_list %}
        <tr>
            <td><a href="{% url 'verify:send-news' notizia.pk %}" class="dashboardlink" >{{ notizia.object }}</a></td>
            <td><a href="{% url 'verify:send-news' notizia.pk %}" class="dashboardlink">{{ notizia.link }}</a></td>
            <td>{% if notizia.pk in pk_verified %}
                SI
            {% else %}
                NO
            {% endif %} </td>
        </tr>
    {% endfor %}
{% endblock %}
