{% extends 'base_dashboard.html' %}

{% block dash_title %} Richieste di informazioni ricevute {% endblock %}

{% block intro %}
    Ecco le domande ricevute dai nostri lettori. Puoi rispondere cliccando sull'indirizzo mail
{% endblock %}


{% block th %}
    <th scope="col">MAIL</th>
    <th scope="col">TESTO RICHIESTA</th>
{% endblock %}
{% block body %}
    {% for richiesta in object_list %}
        <tr>
            <td><a href="mailto:{{ richiesta.mail }}" class="dashboardlink">{{ richiesta.mail }}</a></td>
            <td>{{ richiesta.text }}</td>
        </tr>
    {% endfor %}
{% endblock %}
