{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Fatti disfatti - Modifica notizia {% endblock %}

{% block page_title %} Pubblica notizia {% endblock %}

<br><br>

{% block content %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Dati ricevuti dal verificatore</th>
        </tr>
        <tr>
            <th>Riassunto</th>
            <th>Categoria</th>
            <th>Veridicità</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ object.resume }}</td>
            <td>{{ object.category }}</td>
            <td>{{ object.status }}</td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <table  class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Inserisci gli ultimi dati mancanti</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {% crispy form %}
            </td>
        </tr>
        </tbody>

    </table>


{% endblock %}