{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Fatti disfatti - Invia notizia {% endblock %}
{% block page_title %}  {% endblock %}
{% block intro %} {% endblock %}
<br><br>

{% block content %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Dati inviati dall'utente</th>
        </thead>
        <tbody>
        <tr>
            <td>{{ object.object }}</td>
            <td>{{ object.link }}</td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <table  class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Inserimento dei dati da inviare all'amministratore</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {% crispy form %}
            </td>
        </tr>
        </tbody>

    </table>


{% endblock %}