{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand">Fatti disfatti</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'verify:dashboard' %}">Dashboard</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'verify:dashboard-info' %}">Richieste di info</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'report:report-create' %}">Segnala notizia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'report:statistics' %}">Statistiche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'report:donation-create' %}">Dona</a>
                </li>
        </ul>
        <form class="d-flex" action="{% url 'report:results' %}" method="get">
          <div class="dropdown" >
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-expanded="false">
              Seleziona categoria
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <input class="dropdown-item" type="submit" value="cronaca" name="category">
              <input class="dropdown-item" type="submit" value="sport" name="category">
              <input class="dropdown-item" type="submit" value="economia" name="category">
              <input class="dropdown-item" type="submit" value="tecnologia" name="category">
            </div>
          </div>
          <input class="form-control me-2" type="search" placeholder="Cerca notizia" aria-label="Search" name="q">
          <button class="btn btn-outline-light" type="submit">Cerca</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>
  <br><br><br>
  {% block messages %}  {% endblock %}


  <h1> {% block page_title %}{% endblock %}</h1><br>
  <h3> {% block intro %}{% endblock %}</h3>
  {% block content %}{% endblock %}

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>
