{% extends 'base.html' %}

{% block title %} Fatti disfatti - {% block dash_title %}{% endblock %} {% endblock %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  {% endblock %}

{% block page_title %} Benvenuto nella dashboard, {{ request.user }} {% endblock %}


{% block content %}
    <br><br>
    <table class="table table-bordered table-danger">
        <thead>
        <tr>
            {% block th %}{% endblock %}
        </tr>
        </thead>
        <tbody>
            {% block body %}{% endblock %}
        </tbody>
    </table>

{% endblock %}
