{% extends 'base.html' %}

{% block title %}Operazione completata {% endblock%}

{% block page_title %}Complimenti!{% endblock %}
{% block intro %}Il form è stato compilato con successo.{% endblock %}

{% block content %}
    <br><br>
    <a class="btn btn-danger" href="{% url 'home' %}" role="button">Vai alla homepage</a>
{% endblock %}