{% extends 'base.html' %}

{% block title %} Fatti disfatti - Home {% endblock %}
{% block page_title %} Benvenuto/a! {% endblock %}
{% block intro %}
    Qui di seguito troverai una lista di notizie segnalate da voi e  verificate dai nostri verificatori!
{% endblock %}
{% block content %}
    <br><br><br><br>
    <table class="newstable">
        <thead></thead>
        <tbody>
            {% for notizia in object_list %}
                <tr class="newstitle">
                    <td><a href="{% url 'report:read-news' notizia.pk %}">{{ notizia.title }}</a> </td>
                    {% if notizia.status %}
                        <td class="newstrue">vera
                        {% else %}
                        <td class="newsfalse">falsa
                        {% endif %}
                    </td>
                </tr>
                <tr class="imgrow">
                    <td><img src="{{notizia.image}}" alt="{{ notizia.image }}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}